<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- bootstrap CSS --}}
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  {{!-- custom CSS --}}
  <link href="/stylesheets/main.css" rel="stylesheet">
  {{!-- 載入font awesome --}}
  <script src="https://kit.fontawesome.com/53de98bd08.js" crossorigin="anonymous"></script>
  <title>Restaurant List</title>
</head>

<body>
  {{{body}}}
  <script src="/javascripts/bootstrap.bundle.min.js"></script>
</body>

</html>